# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion files
.idea/*

# Cmake build
cmake-build-debug/*

# Useless images
*.jpg
*.png
*.gif
# imges_T2/*

# Specification file
*.pdf

# coins-dataset
coins-dataset/*
